@import url('https://fonts.googleapis.com/css?family=Mukta+Malar|Open+Sans');
@import './variables.scss';

@font-face {
  font-family: 'norwester';
  src: url('../assets/fonts/norwester.eot');
  src: url('../assets/fonts/norwester.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../assets/fonts/norwester.woff') format('woff'), /* Modern Browsers */
       url('../assets/fonts/norwester.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../assets/fonts/norwester.svg#svgFontName') format('svg'); /* Legacy iOS */
}

$font-menu: 'norwester', sans-serif;
$font-main: 'Open Sans', sans-serif;
$font-sub: 'Mukta Malar', sans-serif;

$text-menu: 24px/28px $font-menu;
$text-main: 16px/24px $font-main;
$text-title-main: 45px/48px $font-sub;

a {
  text-decoration: none;
  color: $primary-color;
}
