<div class="flex marginauto vw85 justify-evenly">

  <div class="margin-top-m">
    <canvas id="incomeShareCanvas" width="500" height="500"></canvas>
  </div>

  <div class="flex column justify-center container-m text-center">
    <h3>How is income divided?</h3>
    <h3>Who owns how much?</h3>
    <div class="margin-top-m">
      <span class="block label--source">
        <a href="http://gabriel-zucman.eu/usdina/" target="_blank">
          Source: Distributional national accounts (2016)
        </a>
      </span>
      <span class="block label--contributors">Gabriel Zucman, Thomas Piketty, Emmanuel Saez</span>
    </div>
  </div>

</div>
