<div class="width-full vh80">

  <div>
    <nav class="subnavigation-menu">
      <ul class="subnavigation-menulist">
        <li>
          <a routerLink="overview"
            class="subnavigation-menuitem pointer">Overview</a>
        </li>
        <li>
          <a routerLink="thestorm"
            class="subnavigation-menuitem pointer">The storm</a>
        </li>
        <li>
          <a routerLink="growthDistribution"
            class="subnavigation-menuitem pointer">Growth distribution</a>
        </li>
        <li>
          <a routerLink="incomeShare"
            class="subnavigation-menuitem pointer">Income share</a>
        </li>
        <li>
          <a routerLink="moneysupply"
            class="subnavigation-menuitem pointer">Money supply</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="width-full vh75">
    <router-outlet></router-outlet>
  </div>
  
</div>
