<div class="navigation">
  <div class="logo-liquidgradient-wrapper">
    <canvas id="js-logo-liquidgradient-canvas"></canvas>
    <a  (click)="goTo('thefalloffiat')"
        class="logo-liquidgradient-mask menuitem">
        Frontline
    </a>
  </div>
  <nav class="navigation-menu">
    <ul class="navigation-menulist">
      <li>
        <a (click)="changeHeaderState('thefalloffiat')"
           routerLink="thefalloffiat/growthDistribution"
           class="navigation-menuitem--D3 pointer">The fall of fiat</a>
      </li>
      <li>
        <a (click)="changeHeaderState('playground')"
           routerLink="playground"
           class="navigation-menuitem--clay pointer">Playground</a>
      </li>
    </ul>
  </nav>
</div>

<router-outlet></router-outlet>
