<div class="navigation">
  <div class="logo-liquidgradient-wrapper">
    <canvas id="js-logo-liquidgradient-canvas"></canvas>
    <a  (click)="goTo('default-state')"
        class="logo-liquidgradient-mask menuitem">
        Frontline
    </a>
  </div>
  <nav class="navigation-menu">
    <ul class="navigation-menulist">
      <li>
        <a (click)="goTo('three')"
           class="navigation-menuitem--three pointer">Three</a>
      </li>
      <li>
        <a (click)="goTo('D3')"
           class="navigation-menuitem--D3 pointer">D3</a>
      </li>
      <li>
        <a (click)="goTo('clay')"
           class="navigation-menuitem--clay pointer">Clay</a>
      </li>
    </ul>
  </nav>
</div>

<router-outlet></router-outlet>
