<div class="flex marginauto vw85 justify-evenly">

  <div class="margin-top-m">
    <canvas id="moneySupplyCanvas" width="500" height="500"></canvas>
  </div>

  <div class="flex column justify-center container-m text-center">
    <h3>How much money is there? </h3>
    <div class="margin-top-m">
      <span class="block label--source">
        <a href="https://data.oecd.org/money/narrow-money-m1.htm" target="_blank">
          Source: OECD M1 (narrow money)
        </a>
      </span>
    </div>
  </div>

</div>

